LANGUAGES.md
src/c/hello_world.c
src/csharp/hello.exe
src/cpp/hi.cpp
src/pascal/hello
src/pascal/hello.o
src/rust/hello
src/kotlin/HelloKt.class
src/kotlin/META-INF
src/scala/Hello$.class
src/scala/Hello.class
src/java/Main.class
src/visual_basic/hello.exe
src/haskell/hello.o
src/haskell/hello.hi
src/haskell/hello
src/ada/hello
src/ada/hello.ali
src/ada/hello.o
src/cobol/hello
src/fortran/hello
src/assembly/hello.o
src/assembly/hello
working/
