LANGUAGES.md
c/hello_world.c
csharp/hello.exe
cpp/hi.cpp
pascal/hello
pascal/hello.o
rust/hello
kotlin/HelloKt.class
kotlin/META-INF
scala/Hello$.class
scala/Hello.class
java/Main.class
visual_basic/hello.exe
haskell/hello.o
haskell/hello.hi
haskell/hello
ada/hello
ada/hello.ali
ada/hello.o
cobol/hello
